@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  scroll-behavior: smooth;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
	font-size: min(max(1vmin, 2vmin), 16px);
	font-family: 'Roboto', sans-serif;
}
p {
	font-size: min(max(1.5vmin, 2.5vmin), 20px);
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: min(max(3vmin, 4vmin), 48px);
	font-family: 'Oswald', sans-serif;
}
h2 {
	font-size: min(max(2.5vmin, 3.5vmin), 36px);
	font-family: 'Oswald', sans-serif;
}
h3 {
	font-size: min(max(2vmin, 3vmin), 24px);
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 0px;
  margin: 0px;
	width:  100vw;
	overflow-x: hidden;
}
header {
	width:  100vw;
	height:  60vh;
	background-image: url(elephant.png);
	background-size:  100vw 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header nav {
	height:  10vh;
	width: 60vw;
	display:  flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
header nav a {
	color:  white;
}
header nav a:hover {
	opacity: 0.9;
}
header h1 {
	height:  40vh;
	width:  50vw;
	display: flex;
  align-items: center;
  justify-content: center;
	color:  white;
}
@media (max-width: 800px) {
	header {
		background-attachment: scroll;
	}
	header nav {
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		background: black;
		width:  100vw;
		opacity: 0.9;
	}
}
.container {
	max-width: 1024px;
	margin: auto;
	display:  grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0fr 0fr 0fr 0fr 0fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about about about"
    "wwd wwd wwd"
    "mission mission mission"
    "help help help"
    "Game Game Game"
    "Sucess Sucess Sucess";
}
#about {
	width:  80%;
	text-align: center;
  align-items: center;
  margin:  auto;
	display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "aboutText"; 
  grid-area: about;
}
.aboutText { grid-area: aboutText;
}
#wwd {
	padding:  5vh 5vw;
	display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-gap: 2.5vw; 
  grid-template-areas: 
    "wwdTitle wwdTitle wwdTitle" 
    "wwd1 wwd2 wwd3";
  grid-area: wwd;
  background:  #f4f4f2;
}
#wwd img {
	width:  100%;
}
.wwdTitle {
	grid-area: wwdTitle;
	margin:  auto;
}
.wwd1 {
	grid-area: wwd1;
}
.wwd2 {
	grid-area: wwd2;
}
.wwd3 {
	grid-area: wwd3;
}
.mission {
	display: grid; 
	text-align: center;
	color:  white;
	padding:  5vh 5vw;
	height: 20vh;
	background-image: url(elephant3.jpg);
	background-position: center;
	background-size:  100% 100%;
	background-repeat: no-repeat;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0vh 0vw; 
  grid-template-areas: 
    "missionTitle missionTitle missionTitle" 
    "missionText missionText missionText"
    "missionButton missionButton missionButton";
  grid-area: mission;
}
.missionTitle {
	grid-area: missionTitle;
}
.missionText {
	grid-area: missionText;
}
.missionButton {
	grid-area: missionButton;
}
.missionButton a {
	background:  white;
	color:  black;
	border:  1px solid black;
	padding:  1vh 1vw;
}
.missionButton a:hover {
	background:  grey;
	transition: 0.3s;
}
#help {
	padding:  2.5vh 5vw;
	display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-gap: 1vh 1vw; 
  grid-template-areas: 
    "helpTitle helpTitle" 
    "help1 help2"
    "help3 help4";
  grid-area: help;
  background:  #f4f4f2;
}
#help h3 {
	margin:  1vh 1vw;
}
#help p {
	margin:  1vh 1vw;
}
.helpTitle {
	grid-area: helpTitle;
	text-align: center;
}
.help1 {
  grid-area: help1;
  background:  white;
  cursor: pointer;
}
.help2 {
	display: grid; 
  background:  white;
  cursor: pointer;
}
.help3 {
	display: grid; 
  background:  white;
  cursor: pointer;
}
.help4 {
  grid-area: help4;
  background:  white;
  cursor: pointer;
}
.Game {
	height: 20vh;
	max-width:  1024px;
	display: grid; 
	text-align: center;
	color:  white;
	padding:  5vh 5vw;
	background-image: url(elephant3.jpg);
	background-position: center;
	background-size:  100% 100%;
	background-repeat: no-repeat;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0vh 0vw;
  grid-template-areas: 
    "GameTitle GameTitle GameTitle" 
    "answer1 answer2 answer3";
  grid-area: Game;
}
.GameTitle {
	grid-area: GameTitle;
}
.answer1 {
	grid-area: answer1;
	cursor: pointer;
}
.answer2 {
	grid-area: answer2;
	cursor: pointer;
}
.answer3 {
	grid-area: answer3;
	cursor: pointer;
}
#Sucess {
	padding:  5vh 5vw;
	display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-gap: 2.5vw; 
  grid-template-areas: 
    "Sucess1 Sucess2 Sucess3";
  grid-area: Sucess;
  text-align: center;
}
#Sucess img {
	width:  100%;
}
#Sucess h3 {
	padding:  0;
	margin:  0;
}
#Sucess p {
	padding:  0;
	margin:  0;
}
footer {
	padding: 1vh;
	background: #f4f4f2;
	display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "footerNav footerText";
}
footer a {
	color:  #261911;
	display:  block;
}
footer label {
	font-family: 'Oswald', sans-serif;
	font-size: min(max(2.5vmin, 3.5vmin), 28px);
}
footer input {
	font-family: 'Roboto', sans-serif;
	font-size: min(max(2vmin, 3vmin), 24px);
	border:  1px solid black;
}
.footerNav {
	grid-area: footerNav;
	margin: auto;
}
.footerText {
	grid-area: footerText;
	margin: auto;
}
.footerText p {
	width:  60%;
}
